.form-container{
    max-width: 600px;
    padding: 30px 20px;
    margin: 60px auto;
  }
  
  .nuevo-vehiculo-form{
    display: flex;
    flex-direction: column;
  

  }
  
  .form-group{
    display: flex;
    gap: 14px;
  }
  