<div class="container">
    <h1 class="mt-4">LISTADO DE VEHICULOS</h1>
  
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary" (click)="abrirNuevoVehiculo()">Nuevo Vehiculo</button>
      </div>
  
    <table class="table mt-4" id = "my-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Patente</th>
          <th>Tipo de Vehículo</th>
          <th>Marca</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehiculo of vehiculos">
          <td>{{ vehiculo.id }}</td>
          <td>{{ vehiculo.marca }}</td>
          <td>{{ vehiculo.patente }}</td>
          <td>{{ vehiculo.tipo }}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="eliminarVehiculo(vehiculo.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
