<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>


        <mat-toolbar color="primary">
            <button mat-icon-button
                    (click)="sidenav.toggle()"
                    style="margin-left:auto"
            >
                <mat-icon>close</mat-icon>
            </button>

        </mat-toolbar>

        <mat-nav-list>
            <a  routerLink="./viajes"
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon color="primary">search</mat-icon>
                <span>Programacion de viajes</span>
            </a>
           
        </mat-nav-list>
        <mat-nav-list>
            <a  routerLink="./add-vehiculo"
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon color="primary">search</mat-icon>
                <span>Agregar Vehiculo</span>
            </a>
           
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar color="primary" class="flex-h">
        <button mat-icon-button
                (click)="sidenav.toggle()"
        >
            <mat-icon>menu</mat-icon>
        </button>


    </mat-toolbar>

    <div style="margin: 15px">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>

